
*.lock
Les 2 - Basis datastructuren/Huiswerk2/obj/Huiswerk2.csproj.nuget.cache
Les 2 - Basis datastructuren/.vs/Huiswerk2/v16/Server/sqlite3/storage.ide-wal
Les 2 - Basis datastructuren/.vs/Huiswerk2/v16/Server/sqlite3/storage.ide-shm
Les 2 - Basis datastructuren/.vs/Huiswerk2/v16/Server/sqlite3/storage.ide
Les 2 - Basis datastructuren/Tests/obj/Tests.csproj.nuget.g.props
Les 2 - Basis datastructuren/Tests/obj/Tests.csproj.nuget.dgspec.json
Les 2 - Basis datastructuren/Tests/obj/Tests.csproj.nuget.cache
Les 2 - Basis datastructuren/Tests/obj/project.assets.json
Les 2 - Basis datastructuren/Tests/obj/Debug/netcoreapp3.1/Tests.csprojAssemblyReference.cache
Les 2 - Basis datastructuren/Tests/obj/Debug/netcoreapp3.1/Tests.assets.cache
Les 2 - Basis datastructuren/Huiswerk2/obj/project.assets.json
Les 2 - Basis datastructuren/Huiswerk2/obj/Huiswerk2.csproj.nuget.g.props
Les 2 - Basis datastructuren/Huiswerk2/obj/Huiswerk2.csproj.nuget.dgspec.json
Les 2 - Basis datastructuren/Huiswerk2/obj/Debug/netcoreapp3.1/Huiswerk2.csprojAssemblyReference.cache
Les 2 - Basis datastructuren/Huiswerk2/obj/Debug/netcoreapp3.1/Huiswerk2.assets.cache
Les 2 - Basis datastructuren/Tests/obj/Tests.csproj.nuget.g.props
Les 2 - Basis datastructuren/Tests/obj/Tests.csproj.nuget.dgspec.json
Les 2 - Basis datastructuren/Tests/obj/project.assets.json
Les 2 - Basis datastructuren/Tests/obj/Debug/netcoreapp3.1/Tests.csprojAssemblyReference.cache
Les 2 - Basis datastructuren/Tests/obj/Debug/netcoreapp3.1/Tests.assets.cache
Les 2 - Basis datastructuren/Huiswerk2/obj/project.assets.json
Les 2 - Basis datastructuren/Huiswerk2/obj/Huiswerk2.csproj.nuget.g.props
Les 2 - Basis datastructuren/Huiswerk2/obj/Huiswerk2.csproj.nuget.dgspec.json
Les 2 - Basis datastructuren/Huiswerk2/obj/Debug/netcoreapp3.1/Huiswerk2.csprojAssemblyReference.cache
Les 2 - Basis datastructuren/Huiswerk2/obj/Debug/netcoreapp3.1/Huiswerk2.assets.cache
